<% # encoding : utf-8 %>

<h1>Gö-vents!</h1>
<%= form_tag events_path do %>
    <%= text_field_tag :query %>
    <div><%= submit_tag 'Get Events' %></div>
<% end %>
<%= link_to 'Today', events_today_path %>

<% unless @facebook_events.nil? || @facebook_events['data'].nil? %>
    <h2>Facebook Events</h2>
    <hr class="betterhr">
    <% @facebook_events['data'].each do |event| %>
        <h2><%= link_to event['name'], "http://www.facebook.com/#{event['id']}" %></h2>
        <div>
          <%= event['location'] %>
          <div>
            <%= event['start_time'] %>
          </div>
          <div>
            <%= raw event['description'] %>
          </div>
        </div>


    <% end %>


<% end %>

<% unless @events_json.nil? || @events_json['results'].empty? %>
    <h2>Meetup Events</h2>
    <hr class="betterhr">
    <% @events_json["results"].each do |event| %>
        <h2><%= link_to event["name"], event["event_url"] %></h2>
        <div>
          <%= raw event["description"] %>
        </div>


    <% end %>
<% end %>

<% unless @city_json.nil? || @city_json['activities'].nil? %>
    <h2>Göteborg Stad Events</h2>
    <hr class="betterhr">
    <% @city_json['activities'].each do |item| %>
        <h2><%= item['name'] %></h2>
        <div>
          <%= raw item['description'] %>
        </div>

    <% end %>
<% end %>