<% # encoding : utf-8 %>

<h1>Gö-vents!</h1>
  <%= form_tag events_path do %>
      <%= text_field_tag :query, nil, class: 'query' %>
      <div><%= submit_tag 'Get Events' %></div>
  <% end %>
(Search or just hit the button for everything.)<br>
(And have some patience - it's called API machine for a reason.)
  <!--<%= link_to 'Today', events_today_path %>-->


<div class="row">
  <div class="small-12 large-<%= @grid_number %> columns">

    <% unless @facebook_events.nil? || @facebook_events.empty? %>
        <h2>Facebook Events</h2>
        <hr class="betterhr">
        <ul class="accordion" data-accordion>
          <% @facebook_events.each do |event| %>
                  <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title"><%= event['name'] %></a>
                    <div class="accordion-content" data-tab-content>
                      <div>
                        <%= link_to event['name'],
                                    "http://www.facebook.com/#{event['id']}" %>
                      </div>
                      <strong><%= event['start_time'].to_date %></strong><br>
                      <%= event['place']['name'] %>, <%= event['place']['location']['street'] %>
                      <div>
                        <%= event['description'].truncate_words(100) %>
                      </div>
                    </div>
                  </li>

          <% end %>
        </ul>
    <% end %>
  </div>

  <div class="small-12 large-<%= @grid_number %> columns">

    <% unless @events_json.nil? || @events_json.empty? %>
        <h2>Meetup Events</h2>
        <hr class="betterhr">
        <ul class="accordion" data-accordion>
          <% @events_json.each do |event| %>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title"><%= event['name'] %></a>
                <div class="accordion-content" data-tab-content>
                  <h2><%= link_to event["name"], event["event_url"] %></h2>
                  <strong><%= Time.at(event['time']/1000).to_date %></strong><br>
                  <% if event['venue'] %>
                    <%= event['venue']['name'] %>, <%= event['venue']['address_1'] %>
                  <% end %>
                  <div>
                    <%= raw event['description'] %>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
    <% end %>

  </div>

  <div class="small-12 large-<%= @grid_number %> columns">
    <% unless @city_json.nil? || @city_json.empty? %>
        <h2>Ggb Stad Events</h2>
        <hr class="betterhr">
        <ul class="accordion" data-accordion>
          <% @city_json.each do |item| %>
              <li class="accordion-item" data-accordion-item>
                  <a href="#" class="accordion-title"><%= item['name'] %></a>
                <div class="accordion-content" data-tab-content>
                  <%= link_to item['name'], "http://goteborg.se/wps/portal/?uri=gbglnk:kalendarium-aktivitet-ck&activityId=#{item['mainActivityId']}&page=detailedActivity&pageTitle=Kalendarium:%20R%C3%B6da%20rummet&date=today" %><br>
                  <strong><%= item['startDate'].to_date %></strong><br>
                  <%= item['organizer']['name'] %>, <%= item['organizer']['address'] %>
                  <div>
                    <%= raw item['description'] %>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>